 @font-face {
     font-family: keepOnTruckin;
     src: url(../fonts/KeeponTruckin.ttf);
 }

 @font-face {
     font-family: redScript;
     src: url(../fonts/RedstockScript-DEMO.ttf);
 }

 @font-face {
     font-family: harmony;
     src: url(../fonts/InstantHarmonyLiteDEMO.otf);
 }

 .completed {
     background-color: lightgreen !important;
 }

 .notCompleted {
     background-color: #ffb1b1 !important;
 }

 #addTask {
     margin: 10px;
     align-content: center;
 }

 .table {
     margin: 10px;
     text-align: center;
 }

 .input {
     display: block;
 }

 .jumbotron {
     font-family: keepOnTruckin;
     text-align: center;
     font-size: 6vw;
     padding-bottom: 5px;
 }

 .table {
     font-family: harmony;
     font-size: 2vw;
 }

 .taskHeader {
     font-family: keepOnTruckin;
     margin-left: 5px;
 }

 .toDoHeader {
     font-family: keepOnTruckin;
     margin-left: 10px;
 }