 @font-face {
     font-family: KeeponTruckin;
     src: url(../fonts/KeeponTruckin.ttf);
 }

 .completed {
     background-color: lightgreen !important;
 }

 .notCompleted {
     background-color: #ffb1b1 !important;
 }

 #addTask {
     margin: 10px;
     align-content: center;
 }

 .table {
     margin: 10px;
     text-align: center;
 }

 .jumbotron {
     font-family: KeeponTruckin;
     text-align: center;
     font-size: 6vw;
 }