 @font-face {
     font-family: keepOnTruckin;
     src: url(../fonts/KeeponTruckin.ttf);
 }

 @font-face {
     font-family: harmonyHeavy;
     src: url(../fonts/InstantHarmonyDEMO.otf);
 }

 @font-face {
     font-family: harmony;
     src: url(../fonts/InstantHarmonyLiteDEMO.otf);
 }

 .completed {
     background-color: lightgreen !important;
 }

 .notCompleted {
     background-color: #ffb1b1 !important;
 }

 #addTask {
     margin: 10px;
     align-content: center;
 }

 .table {
     margin: 10px;
     text-align: center;
 }

 .boday {
     background-image: url(../image/legalPad.png);
     background-repeat: no-repeat;
     background-size: cover;
 }


 .tableRowHeader,
 .addTask,
 .input {
     font-family: harmonyHeavy;
 }

 .input,
 .homeOrWork {
     display: block;
     font-size: 1.5vw;
 }

 .jumbotron {
     font-family: keepOnTruckin;
     text-align: center;
     font-size: 6vw;
     padding-bottom: 5px;
     background-color: brown;
 }

 .addButton {
     font-family: harmony;
 }

 .table {
     font-family: harmony;
     font-size: 2vw;
 }

 .taskHeader {
     font-family: keepOnTruckin;
     margin-left: 5px;
 }

 .toDoHeader,
 .completedHeader {
     font-family: keepOnTruckin;
     margin-left: 10px;
     text-align: center;
     margin: 20px;
 }